#container {
    min-height: 500px;
}

body {
    font-family: "Poppins", sans-serif;
}

.nav-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}